body {
  font-family: sans-serif;
  background-color: whitesmoke;
  font-size: 12px;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
}

#grid {
  flex: 1;
  display: grid;
  margin: 10px;
  grid-template-columns: minmax(0, 1fr) 50vh minmax(0, 1fr);//repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-gap: 10px;
}

.cell {
  background-color: white;
  border-radius: 5px;
  border: 1px solid darkgray;
}

table {
  border-collapse: collapse;
  border-style: hidden;
}

thead>tr {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background: darkgray;
  color: white;
}

tbody>tr {
  background: white;
}

td{
  border: 1px solid darkgray;
}

tbody>tr.selected {
  background: lightskyblue;
}

td,
th {
  padding: 5px;
}

th.des:after {
  content: "\21E9";
}

th.aes:after {
  content: "\21E7";
}

.tooltip {
  background-color: whitesmoke;
  border: 1px solid darkgray;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
}

.check-container {
  margin-bottom: 10px;
}

.check-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.check-elem {
  display: inline-block;
  margin-right: 10px;
}


#topics_table {
  grid-column: 1;
  grid-row: 1;
  overflow-y: scroll;
  background: darkgray;

  tbody>tr {
    cursor: pointer;
  }
}

#keywords_plot {
  grid-column: 2;
  grid-row: 1;
}

#trends_chart {
  grid-column: 3;
  grid-row: 1;
}

#filters {
  grid-column: 1;
  grid-row: 2;
  padding: 10px;
}

#papers_table {
  grid-column: 2/4;
  grid-row: 2;
  overflow: scroll;
  background: darkgray;
}